# ========== Visual Studio ========== #
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.ipch
*.cache

# ========== Build output ========== #
x64/
Debug/
Release/
*.obj
*.exe
*.dll
*.lib
*.pdb
*.log

# ========== NuGet ========== #
packages/

# ========== Others ========== #
*.db
*.tgz
*.tmp
*.class
